:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

#app {
  width: 600px;
  text-align: left;
}

#fear-tracker {
  display: flex;
}

.counter-rail {
  justify-content: center;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 50px;
  padding: 5px;
  min-height: 20px;
  position: relative;
}

.inactive-side,
.active-side {
  display: flex;
  gap: 5px;
  min-height: 60px;
  align-items: center;
  padding: 10px;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

.inactive-side {
  flex: 1;
  justify-content: flex-start;
}

.active-side {
  flex: 1;
  justify-content: flex-end;
}

.rail-center {
  width: 2px;
  height: 60px;
  background-color: #666;
  margin: 0 10px;
}

.snake {
  width: 2rem;
  height: 2rem;
  cursor: grab;
  transition: opacity 0.3s ease;
}

.snake:active {
  cursor: grabbing;
}

.snake img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .counter-rail {
    background-color: #e0e0e0;
  }

  .rail-center {
    background-color: #999;
  }
}
